@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в страховое агентство</h1>
    <div class="display-5">
        <a href="services/index">Перечень услуг</a>
        <a href="clients/index">Список клиентов</a>
        <a href="paymentclaims/index">Список заявок на получение выплаты</a>
        <a href="policyclaims/index">Список заявок на получение полиса</a>
        <a href="policies/index">Список полисов</a>
        <a href="insuranceagents/index">Список агентов</a>
        <a href="administrators/index">Список администраторов</a>
        <a href="accountants/index">Список бухгалтеров</a>
        <a href="insuranceobjects/index">Список объектов страхования</a>
    </div>
</div>
