@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Insurance Agency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Logout">Logout (@User.Identity.Name)</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать в страховое агентство</h1>
    <div class="display-5">
        <a href="services/index" class="d-block">Список услуг</a>
        @if (User.IsInRole("Administrator"))
        {
            <a href="insuranceagents/index" class="d-block">Список агентов</a>
            <a href="administrators/index" class="d-block">Список администраторов</a>
            <a href="accountants/index" class="d-block">Список бухгалтеров</a>
            <a href="clients/index" class="d-block">Список клиентов</a>
            <a href="paymentclaims/index" class="d-block">Список заявок на получение выплаты</a>
            <a href="policyclaims/index" class="d-block">Список заявок на получение полиса</a>
            <a href="policies/index" class="d-block">Список полисов</a>
            <a href="insuranceobjects/index" class="d-block">Список объектов страхования</a>
            <a href="users/aboutme">Обо мне</a>
        }
        @if (User.IsInRole("Client"))
        {
            <a href="services/index" class="d-block">Список услуг</a>
            <a href="policies/clientpolicies" class="d-block">Мои полисы</a>
            <a href="policyclaims/clientpolicyclaims" class="d-block">Мои заявки на оформление полиса</a>
            <a href="paymentclaims/clientpaymentclaims" class="d-block">Мои заявки на получение выплаты</a>
            <a href="users/aboutme">Обо мне</a>
        }
        @if (User.IsInRole("InsuranceAgent"))
        {
            <a href="services/index" class="d-block">Перечень услуг</a>
            <a href="clients/index" class="d-block">Список клиентов</a>
            <a href="policyclaims/index" class="d-block">Список заявок на получение полиса</a>
            <a href="paymentclaims/index" class="d-block">Список заявок на получение выплаты</a>
            <a href="policies/index" class="d-block">Список полисов</a>
            <a href="users/aboutme">Обо мне</a>
        }
        @if (User.IsInRole("Accountant"))
        {
            <a href="paymentclaims/index" class="d-block">Список заявок на получение выплаты</a>
            <a href="users/aboutme">Обо мне</a>
        }
        
        
    </div>
</div>
