@model InsuranceAgency.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InsuranceObjectType" class="control-label"></label>
                <input asp-for="InsuranceObjectType" class="form-control" />
                <span asp-validation-for="InsuranceObjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiumCoef" class="control-label"></label>
                <input asp-for="PremiumCoef" class="form-control" />
                <span asp-validation-for="PremiumCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentCoef" class="control-label"></label>
                <input asp-for="PaymentCoef" class="form-control" />
                <span asp-validation-for="PaymentCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/localization/messages_ru.js"></script>
    <script>
        $(document).ready(function () {
            $.validator.methods.range = function (value, element, param) {
                var globalizedValue = value.replace(",", "."); // Заменяем запятую на точку
                return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
            };

            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?\d+(\.\d+)?$/.test(value.replace(",", "."));
            };
        });

    </script>
}
