@model InsuranceAgency.Models.Client

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Patronymic"></label>
        <input asp-for="Patronymic" class="form-control" />
        <span asp-validation-for="Patronymic" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <input hidden asp-for="Role" value="Client"/>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
