@model InsuranceAgency.Models.PaymentClaim

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PaymentClaim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClaimAmount" class="control-label"></label>
                <input asp-for="ClaimAmount" class="form-control" />
                <span asp-validation-for="ClaimAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientBankAccount" class="control-label"></label>
                <input asp-for="ClientBankAccount" class="form-control" />
                <span asp-validation-for="ClientBankAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyId" class="control-label"></label>
                <select asp-for="PolicyId" class ="form-control" asp-items="ViewBag.PolicyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimDate" class="control-label"></label>
                <input asp-for="ClaimDate" class="form-control" />
                <span asp-validation-for="ClaimDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimStatus" class="control-label"></label>
                <select asp-for="ClaimStatus" class="form-control" asp-items="Html.GetEnumSelectList<ClaimStatus>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="ClaimStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/localization/messages_ru.js"></script>
    <script>
        $(document).ready(function () {
            $.validator.methods.range = function (value, element, param) {
                var globalizedValue = value.replace(",", "."); // Заменяем запятую на точку
                return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
            };

            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?\d+(\.\d+)?$/.test(value.replace(",", "."));
            };
        });

    </script>
}
