@{
    ViewData["Title"] = "Sign";
}

<h1>Sign</h1>

<h4>PolicyClaim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sign">
            <label class="control-label">Подпись</label>
            <input type="text" />
            <div class="form-group">
                <input type="submit" value="Подписать" class="btn btn-primary" asp-item-id="@ViewBag.Id"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ClientPolicyClaims">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
